{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h3>{{ total_users }}</h3>
                <p>Total Users</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h3>{{ total_transactions }}</h3>
                <p>Total Transactions</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h3>₹{{ total_wallet_balance }}</h3>
                <p>Total Wallet Balance</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}